#border1:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: yellow;

}
        #border1 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }
#border2:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color:red;
}
        #border2 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }
#border3:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: blue;
}
        #border3 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border4:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: green;
}
        #border4 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border5:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: violet;
}
        #border5 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border6:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: orange;

}
        #border6 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border7:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: brown;
}
        #border7 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border8:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: pink;
}
        #border8 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }

#border9:hover {
border-style: solid;
border-width: 10px;
width: 150px;
height: 150px;
background-color: skyblue;
}
        #border9 {
        border-style: solid;
        border-width: 5px;
        width: 150px;
        height: 150px;

        }
h1 {
  text-align: center;
}
#player-name {
  float: right;

}
