#table{
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 0px;
}

#table td {
  border: 2px solid black;
  height: 120px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

#t1:hover{
  background-color: skyblue;
}

#t2:hover{
  background-color:blue;
}

#t3:hover{
  background-color:green;
}

#t4:hover{
  background-color:red;
}

#t5:hover{
  background-color:orange;
}

#t6:hover{
  background-color:pink;
}

#t7:hover{
  background-color:violet;
}

#t8:hover{
  background-color:brown;
}

#t9:hover{
  background-color:yellow;
}
h1 {
  text-align: center;
}
#player1 , #player2 {
  display: none;
}
